#bg{
  background-color: #000;
}
#btn {
  padding: 1.1em 2em;
  background: none;
  border: 2px solid #fff;
  font-size: 15px;
  color: #131313;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: all 0.3s;
  border-radius: 12px;
  background-color: #ffffff;
  font-weight: bolder;
  box-shadow: 0 2px 0 2px #000;
 }
 
 #btn:before {
  content: "";
  width: 100px;
  height: 120%;
  top: 50%;
  transform: skewX(30deg) translate(-150%, -50%);
  transition: all 0.5s;
 }
 
 #btn:hover {
  background-color: #000000;
  color: #fff;
  box-shadow: 0 2px 0 2px #000000;
 }
 
 #btn:hover::before {
  transform: skewX(30deg) translate(150%, -50%);
  transition-delay: 0.1s;
 }
 
 #btn:active {
  transform: scale(0.9);
 }