/* Desktop Styles */
body#desktop {
  background-color: #333;
  color: #fff;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#taskbar {
  background-color: #111;
  padding: 10px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#taskbar div {
  display: flex;
  align-items: center;
}

#taskbar h3 {
  margin: 0;
  padding: 0 10px;
}

#current-time {
  font-weight: normal;
  font-size: 14px;
}

button {
  background-color: transparent;
  border: none;
  color: #fff;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 5px;
  outline: none;
}

button img {
  width: 50px;
  height: 50px;
  object-fit: cover;
}

button h5 {
  margin: 15px;

}

/* App Styles */
.window {
  background-color: #fff;
  color: #333;
  padding: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  z-index: 1;
  cursor: move;
  user-select: none;
}

#terminal-window {
  width: 600px;
  height: 500px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  padding: 0;
  resize: both;
  overflow: auto;
}

#terminal-frame {
  width: 100%;
  height: 100%;
  border: none;
  background-color: transparent;
}

/* portfolio to arun */
.button {
  display: flex;
}

.box {
  width: 35px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  font-weight: 700;
  color: #fff;
  transition: all .8s;
  cursor: pointer;
  position: relative;
  background: rgb(58, 165, 253);
  overflow: hidden;
}

.box:before {
  content: "W";
  position: absolute;
  top: 0;
  background: #0f0f0f;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(100%);
  transition: transform .4s;
}


.box:nth-child(1)::before {
  transform: translateY(-100%) translateX(-100%);
  content: 'A';
  color: aqua;
}

.box:nth-child(2)::before {
  content: 'R';
  color: white;
  transform: translateY(100%) translateX(40%);
}

.box:nth-child(3)::before {
  transform: translateY(-100%) translateX(-80%);
  content: 'U';
  color: white;
}

.box:nth-child(4)::before {
  content: 'N';
  color: white;
  transform: translateY(100%) translateX(60%);
}

.box:nth-child(6)::before {
  content: 'K';
  transform: translateY(-100%) translateX(-60%);
  color: aqua;
}

.box:nth-child(8)::before {
  content: 'N';
  color: white;
  transform: translateY(100%) translateX(80%);
}
.box:nth-child(9)::before {
  content: 'A';
  transform: translateY(-100%) translateX(-40%);
  color: white;
}
.box:nth-child(10)::before {
  transform: translateY(100%) translateX(100%);
  content: 'I';
  color: white;
}
.box:nth-child(11)::before {
  content: 'R';
  transform: translateY(-100%) translateX(-20%);
  color: white;
}




.button:hover .box:before {
  transform: translateY(0);
}