body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

#b {
  background-color: #000;
}

#terminal {
  width: 800px;
  height: 500px;
  margin: 0 auto;
  background-color: black;
  color: #0F0;
  padding: 10px;
  max-width: 800px;
  max-height: 500px;
  overflow: auto;
}

#input-line {
  display: flex;
}

#prompt {
  color: #0F0;
  padding-right: 5px;
}

#command-input {
  flex-grow: 1;
  background-color: transparent;
  border: none;
  color: #0F0;
  outline: none;
}


#desktop {
  background-color: #222;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.window {
  width: auto;
  height: auto;
  display: flex;
  background-color: #FFF;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}

.content {
  padding: 20px;
}