body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

#b {
  background-color: #000;
}

#terminal {
  width: 100%;
  margin: 0 auto;
  background-color: black;
  color: #0F0;
  padding: 10px;

  max-width: 800px;
  /* Set the maximum width */
  max-height: 500px;
  /* Set the maximum height */
  overflow: auto;
  /* Enable scrolling if content exceeds the maximum size */


}

#input-line {
  display: flex;
}

#prompt {
  color: #0F0;
  padding-right: 5px;
}

#command-input {
  flex-grow: 1;
  background-color: transparent;
  border: none;
  color: #0F0;
  outline: none;
}


#desktop {
  background-color: #222;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.window {
  width: 800px;
  background-color: #FFF;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}

.title-bar {
  background-color: #333;
  color: #FFF;
  padding: 10px;
  display: flex;
  align-items: center;
}

.title {
  flex-grow: 1;
  font-weight: bold;
}

.window-controls {
  display: flex;
}

.window-controls button {
  background-color: transparent;
  border: none;
  color: #FFF;
  font-size: 12px;
  margin-left: 5px;
  cursor: pointer;
}

.content {
  padding: 20px;
}